body {
    background: url('../images/bkgnd_mario.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#word {
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 48px;
	color: #ffffff;
	font-weight: bolder;
	letter-spacing: 10px;
}

h2 {
	font-size: 32px;
	color: #cccccc;
	font-weight: bold;
}

p {
	font-size: 18px;
	color: #cccccc;
	font-weight: bold;
}